<h1>Добавить новый товар</h1>

<form action="/add" method="POST">
  <div class="input-field col s6">
    <input id="title" name="title" type="text" class="validate" required="Add please">
    <label for="title">Название товара</label>
  </div>

  <div class="input-field col s6">
    <input id="price" name="price" type="number" class="validate">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Narxni kiriting">Helper text</span>
  </div>

  <div class="input-field col s6">
    <input id="img" name="img" type="text" class="validate">
    <label for="img">URL</label>
    <span class="helper-text" data-error="Rasm URL ni kiriting">Helper text</span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button class="btn btn-primary">Добавить товар</button>

</form>