<h1>Главная страница</h1>
{{!-- <p></p> --}}
{{!-- <div class="btn btn-primary"><a href="/products">Здесь лучшие одежды</a></div> --}}
{{!-- <div><button class="btn btn-primary"><a href="/products">Здесь лучшие одежды</a></button></div> --}}
<form action="/products">
  <input type="hidden">
  <button type="submit" class="btn btn-primary">
    Здесь лучшие одежды
  </button>
</form>